{% if error %}
    <div class="col-12">
        {{ error }}
    </div>
{% else %}
    {% for event in events %}
        <div class="col-12 col-sm-6 col-md-4 border px-3">
            {% if event.summary %}
                <div class="row">
                    <div class="d-inline col-2">
                        <i class="fa fa-sticky-note" aria-hidden="true"></i>
                    </div>
                    <div class="d-inline col-10">
                        <h5>{{ event.summary }}</h5>
                    </div>
                </div>
            {% endif %}

            {% if event.description %}
                <div class="row">
                    <div class="d-inline col-2">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                    </div>
                    <div class="d-inline col-10">
                        <h5 class="overflow-hidden">{{ event.description | raw }}</h5>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="d-inline col-2">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="d-inline col-10">
                    <p>{{ event.start.dateTime }} to {{ event.end.dateTime }}</p>
                </div>
            </div>

            {% if event.location %}
                <div class="row">
                    <div class="d-inline col-2">
                        <i class="fa fa-map-pin" aria-hidden="true"></i>
                    </div>
                    <div class="d-inline col-10">
                        <p>{{ event.location }}</p>
                    </div>
                </div>
            {% endif %}

            {% if event.attendees %}
                <div class="row">
                   <div class="d-inline col-2">
                       <i class="fa fa-users" aria-hidden="true"></i>
                   </div>
                   <div class="d-inline col-10">
                       {% for guest in event.attendees %}
                            <span>{{ guest.email }}</span>
                       {% endfor %}
                   </div>
                </div>
            {% endif %}

            <div class="row mt-3">
                <a class="btn btn-primary"
                   onclick="loadCalendarEvent('/google/events/get/{{ calendarId }}/{{ event.id }}/{{ linkKey }}/{{ linkValue }}')"
                >
                    Details
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}